body {
  font-family: "Hind Guntur", sans-serif;
}
html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
}

.hero-section {
  display: flex;
  min-height: 100vh;
  width: 90vw;
  max-width: 1500px;
  margin: auto;
  align-items: center;
}

.hero-texts-container {
  margin-left: 50px;
  padding-left: 50px;
  border-left: 1px solid #dddddd;
}

.hero-texts-container > * {
  opacity: 0;
  animation: appear 1s 0.2s forwards;
}

.faq {
  margin-top: 75px;
}

.faq-item {
  margin: 20px 0;
}

.welcome-question {
  font-size: 22px;
  color: #555555;
  cursor: pointer;
  transition: color 0.2s;
}

.welcome-answer {
  margin-top: 10px;
  font-size: 16px;
  color: #555555;
  line-height: 1.4;
  margin-bottom: 5px;
  animation: appear 0.2s;
}

.welcome-question:hover,
details[open] .welcome-question {
  color: #b72467;
}

.welcome-answer a {
  color: #555555;
}

.intro-text {
  font-size: 36px;
  line-height: 1.5;
  color: #2e2e2e;
  font-weight: 300;
}

.intro-text i {
  font-style: italic;
  font-weight: 400;
}

.logo-image {
  max-width: 50%;
}

.facebook-link {
  display: flex;
  width: 300px;
  margin-top: 50px;
  justify-content: flex-start;
  align-items: flex-end;
  text-decoration: none;
}

.facebook-logo {
  width: 32px;
  margin-right: 8px;
}

.facebook-link-text {
  font-size: 20px;
  color: #555555;
}

.facebook-link:hover .facebook-link-text {
  text-decoration: underline solid #555555;
}

.general-section,
.conversation-section {
  display: none;
  flex-direction: column;
  animation: appear 0.8s;
}

.general-section {
  padding-top: 50px;
}

.general-stats-container {
  max-width: 85vw;
  min-width: 800px;
  margin: auto;
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "desc  slider"
    "hours friends"
    "hours bars"
    "weekdays bars";

  border: 1px solid #dddddd;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
}

.bars-container {
  grid-area: bars;
}
.hour-chart-container {
  grid-area: hours;
}
.weekdays-chart-container {
  grid-area: weekdays;
  align-self: end;
}
.year-slider-container {
  grid-area: slider;
}
.friends-daily-container {
  grid-area: friends;
}
.general-section-description {
  grid-area: desc;
}
.general-description-heading,
.timeline-heading,
.ranking-heading {
  color: #2e2e2e;
  font-size: 34px;
  margin-bottom: 20px;
}

.timeline-heading {
  margin-left: 10%;
}

.timeline-description,
.ranking-description {
  margin-left: 10%;
  font-size: 20px;
  color: #888888;
  width: 400px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.ranking-note {
  margin-left: 30px;
  font-size: 14px;
  color: #a1a1a1;
  width: 400px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.ranking-note i {
  font-style: italic;
}

.slider-ranking-heading {
  color: #2e2e2e;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 30px;
}

.ranking-heading {
  margin: 30px 0 20px 30px;
}

.ranking-description {
  width: 600px;
  margin: 0 0 50px 10px;
}

.ranking-slider {
  margin: 40px 40px 60px;
}

.timeline-section {
  margin-top: 200px;
}

.general-chart-title {
  color: #4d4d4d;
  font-size: 18px;
  margin: 20px 0 10px;
}

.legend {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}

.legend-color-user {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #8191e9;
  transform: translateY(-3px);
}

.legend-color-participant {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ca89e1;

  transform: translateY(-3px);
}

.legend-name {
  font-weight: 600;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 30px;
}

.general-description-text {
  color: #2e2e2e;
  font-size: 20px;
  line-height: 1.4;
  max-width: 500px;
}

.year-slider-container {
  align-self: end;
}

.slider-heading {
  color: #424242;
  font-size: 28px;
  margin-bottom: 20px;
}

.slider {
  max-width: 400px;
  margin-bottom: 40px;
}

.fb-dir-label {
  color: #2e2e2e;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 100px auto 200px;
  width: 300px;
  height: 75px;
  border: 1px solid #131316;
  font-size: 22px;
  font-weight: 300;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
  transition: border 0.2s, border-radius 0.2s, color 0.2s;
}

.fb-dir-label:hover {
  border: 1px solid #b72467;
  color: #b72467;
  border-radius: 20px;
}

.fb-dir-label [type="file"] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.fb-dir-label code {
  font-family: monospace;
}

.page-footer {
  position: relative;
  margin-top: 100px;
  border-top: 1px solid #dddddd;
  padding: 30px;
}

.logo-footer {
  position: absolute;
  height: 50%;
  right: 30px;
  top: 25%;
}

.page-footer p {
  margin-top: 10px;
  font-size: 14px;
  color: #555555;
  line-height: 1.4;
  width: 500px;
}
.page-footer a {
  color: #555555;
}

.not-yet-loaded-message {
  margin: 150px auto 75px;
  width: 600px;
  font-size: 36px;
  color: #9c9c9c;
  line-height: 1.4;
  font-weight: 300;
  padding: 0 50px;
  border-left: 1px solid #b72467;
}

.instruction-section {
  position: relative;
  margin-top: 70px;
  width: 550px;
  padding: 25px;
  margin: 50px auto 0;
  font-size: 18px;
  line-height: 1.4;
  color: #2e2e2e;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
}
.instruction-heading {
  font-size: 38px;
  font-weight: 700;
  font-variant: small-caps;
  color: #888888;
}

.gallery-heading {
  margin-bottom: 25px;
  font-size: 56px;
  font-weight: 300;
  font-variant: small-caps;
  color: #3d3d3d;
}

.intro-gallery-section {
  padding: 50px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  width: 90vw;
  max-width: 1500px;
  margin: 0 auto 100px;
}

.intro-gallery {
  display: flex;
  align-items: flex-end;
}

.intro-gallery-item {
  position: relative;
  height: 100%;
}

.intro-gallery-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  background-color: #c7c7c7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: background-color 0.2s;
}

.intro-gallery-item:hover::after {
  background-color: #b72467;
}

.intro-gallery-image {
  max-width: 500px;
  max-height: 300px;
  margin-right: 40px;
  transition: transform 0.2s;
}

.intro-gallery-image:hover {
  transform: scale(1.1);
}

.instruction-step {
  position: relative;
  margin: 20px 0 20px 20px;
  list-style: upper-roman outside;
}

.instruction-step::marker {
  color: #b72467;
}

.instruction-step:first-of-type {
  margin-top: 10px;
}

.step-num {
  display: none;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 5%;
  font-size: 40px;
  color: #bdbdbd;
  /* color: #b72467; */
}

.instruction-step:last-of-type .step-num {
  display: none;
}

.noUi-marker-horizontal.noUi-marker {
  display: none;
}

.noUi-connect {
  background: #b72467;
}

.friends-daily-icon {
  background-image: url(person.svg);
  background-size: 75px 75px;
  height: 75px;
  width: 0;
  margin-top: 25px;
}

.friends-daily-container {
  align-self: end;
}

.friends-daily-text {
  color: #363636;
  font-size: 20px;
  margin-top: 20px;
}

.friends-daily-num {
  font-weight: 600;
}

.bar-title {
  position: relative;
  color: #363636;
  margin-bottom: 10px;
  margin-top: 50px;
  font-size: 22px;
}

.bar-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 150px;
  left: 0;
  top: -40px;
  border-top: 1px solid #eeeeee;
}

.bar-label {
  font-size: 16px;
}

.bar-label {
  fill: #242424;
}

.timeline-chart-container .tick text {
  font-family: "Hind Guntur", sans-serif;
  font-size: 16px;
}

.timeline-chart-container > svg {
  cursor: pointer;
}

.timeline-chart-container .tooltip,
.timeline-chart-container .select-line {
  pointer-events: none;
}

.ranking-chart-container .tooltip,
.ranking-chart-container .select-line {
  pointer-events: none;
}

.timeline-details-container {
  display: flex;
}

.swear-words-container {
  width: 30%;
  margin: 0 150px;
  max-width: 300px;
}

.swear-words-title {
  margin-top: 100px;
  color: #363636;
  font-size: 26px;
}

.swear-words-explanation {
  color: #2e2e2e;
  font-size: 18px;
  line-height: 1.4;
  margin-top: 30px;
}

.swear-words-list-title {
  margin-top: 30px;
  color: #363636;
  font-size: 20px;
  margin-bottom: 15px;
}

.swear-words-list li {
  color: #363636;
  font-size: 16px;
  margin-bottom: 10px;
}

.swear-word {
  transition: color 0.2s;
}

.swear-word.hidden {
  color: #ffffff;
  text-decoration: underline solid #363636;
  pointer-events: none;
  user-select: none;
}

.swear-words-list {
  border-right: 1px solid black;
}

.swear-words-note {
  display: block;
  margin-top: 30px;
  color: #7a7a7a;
  font-size: 12px;
  line-height: 1.6;
}

.show-swear-words-button {
  display: block;
  border: 1px solid #131316;
  padding: 10px 0;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  width: 200px;
  margin: 20px auto;
  transition: border 0.2s, border-radius 0.2s, color 0.2s, opacity 0.2s;
}

.show-swear-words-button:hover {
  border: 1px solid #b72467;
  border-radius: 20px;
  color: #b72467;
}

.show-swear-words-button:disabled {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.swear-words-title {
  position: relative;
}

.swear-words-title::before {
  content: "";
  position: absolute;
  display: block;
  top: 120%;
  left: 0;
  width: 60px;
  height: 8px;
  background: rgb(103, 0, 13);
}

.conversation-box {
  width: 60%;
  max-width: 600px;
  margin: auto;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 100px 0;
}

.message-box {
  position: relative;
  width: 80%;
  align-self: flex-start;
  animation: appear 0.4s;
}
.empty-state-message.message-box-user {
  font-size: 20px;
  color: #888888;
  width: 400px;
  line-height: 1.4;
  text-align: center;
  margin: 75px 0;
  align-self: center;
}

.message-box-user {
  position: relative;
  width: 80%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  animation: appear 0.4s;
}

.message-box-user .message-sender {
  left: 102%;
  text-align: left;
}

.message-box-user .message-date {
  left: 102%;
  text-align: left;
}

.message-sender {
  width: max-content;
  position: absolute;
  top: 0;
  right: 102%;
  text-align: right;
  font-size: 12px;
  color: #424242;
}

.message-receiver {
  position: absolute;
  width: max-content;
  top: 16px;
  left: 102%;
  font-size: 10px;
  color: #424242;
}

.message-date {
  width: max-content;
  position: absolute;
  top: 15px;
  right: 102%;
  font-size: 10px;
  text-align: right;
  font-weight: 300;
  color: #5c5c5c;
}

.message-box-user .message-date {
  top: 30px;
}

.message-box-user .message-sender + .message-date {
  top: 15px;
}

.message-text {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #e6e6e6;
  border-left: 0;
  padding: 10px 10px 10px 0;
  margin-bottom: 10px;
}

.message-box-user .message-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #e6e6e6;
  border-right: 0;
  padding: 10px 0 10px 10px;
}

.load-next,
.load-prev {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #131316;
  padding: 10px 0;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
  width: 200px;
  transition: border 0.2s, border-radius 0.2s, color 0.2s;
}

.load-next:hover,
.load-prev:hover {
  border: 1px solid #b72467;
  border-radius: 20px;
  color: #b72467;
}

.load-next {
  bottom: 30px;
}

.load-prev {
  top: 30px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.weekdays-chart-container .label {
  text-anchor: middle;
  fill: #777777;
}

.ranking-section {
  overflow: hidden;
  max-width: 85vw;
  min-width: 800px;
  margin: 175px auto 100px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
}

.loader-container {
  position: fixed;
  z-index: 2;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dddddd;
  padding: 50px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
  background: #ffffff;
  animation: appear 0.8s;
}

.loader-container .loader-error-text,
.loader-container .loader-error-button {
  display: none;
}

.loader-text,
.loader-error-text {
  color: #2e2e2e;
  font-size: 24px;
  line-height: 1.4;
  max-width: 450px;
  text-align: center;
}

.loader-error-text {
  max-width: 500px;
}

.loader-text strong {
  font-weight: 600;
}

.loader-container.error .loader-text,
.loader-container.error .loader-gif {
  display: none;
}

.loader-container.error .loader-error-text,
.loader-container.error .loader-error-button {
  display: block;
}

.loader-container.error {
  border: 1px solid #b72467;
}

.loader-error-button,
.conversation-back-button {
  color: #2e2e2e;
  margin: 40px auto 0;
  border: 1px solid #131316;
  font-size: 22px;
  font-weight: 300;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: border 0.2s, border-radius 0.2s, color 0.2s;
  background: transparent;
}

.loader-error-button:hover,
.conversation-back-button:hover {
  border: 1px solid #b72467;
  color: #b72467;
  border-radius: 20px;
}

.ranking-click-explanation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 450px;
  margin: 0 auto 150px;
  color: #3f3f3f;
  font-size: 26px;
  line-height: 1.5;
  font-weight: 300;
}

.conversation-name-container {
  margin: 100px 0 50px;
  border-bottom: 2px solid #e9e9e9;
}

.conversation-name-text {
  margin-left: 50px;
  margin-bottom: -10px;
  color: #bebebe;
  font-size: 64px;
  font-weight: 300;
}

.conversation-back-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
  padding-top: 25px;
}

.conversation-back-button {
  margin: 0;
  border-color: #bebebe;
  color: #666666;
}
